@import url("https://fonts.googleapis.com/css?family=Lato|Rubik+Mono+One");
html {
  overflow-x: hidden; }

body {
  font-family: "Lato", sans-serif; }

ul {
  margin: 0;
  padding: 0;
  z-index: 99; }

ul li {
  border: 0;
  list-style-type: none; }

input,
textarea {
  border: 1px solid transparent;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

input:focus, textarea:focus {
  border: 1px solid #FDCE1B; }

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  text-transform: uppercase;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

button,
a {
  display: block;
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  box-sizing: none; }

button:focus,
button:active {
  outline: none; }

.shown {
  display: block; }

.hidden {
  display: none; }

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none; }

.list-inline > li {
  display: inline-block; }

.text-center {
  text-align: center; }

.nav-icon {
  display: block;
  position: fixed;
  width: 40px;
  padding: 0;
  margin: 10px;
  right: 0;
  z-index: 99;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out; }

.nav-icon span {
  display: block;
  position: absolute;
  left: 0;
  width: 40px;
  height: 4px;
  border-radius: 9px;
  background: #FDAD1B;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

.nav-items {
  position: fixed;
  width: 100vw;
  padding: 30px 0px 15px 0px;
  margin: 0;
  background: #fff;
  z-index: 98; }

.nav-li {
  padding: 0px 20px 30px 30px; }

.nav-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

.nav-icon span:nth-child(2) {
  top: 15px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

.nav-icon span:nth-child(3) {
  top: 30px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center; }

.nav-icon.open span:nth-child(1) {
  top: 0px;
  left: 8px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0; }

.nav-icon.open span:nth-child(3) {
  top: 28px;
  left: 8px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#home {
  font-family: "Lato", sans-serif;
  text-align: center; }

.title {
  font-family: "Rubik Mono One";
  color: #FDAD1B; }

.header-logo {
  position: relative;
  width: 70vw;
  float: none;
  z-index: 97; }

.header {
  height: 80vh;
  padding: 25% 0 15% 0;
  color: #222;
  background-color: #F1F3E0; }

#team {
  position: relative;
  padding-bottom: 20vh;
  min-height: 100vh;
  background: #C95B00; }

.polygon {
  position: absolute;
  z-index: 3;
  width: 0;
  height: 0;
  margin: 0px; }
  .polygon.top {
    top: 0;
    margin: 0px;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 50px solid #F1F3E0; }
  .polygon.topMembers {
    top: 0;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-top: 50px solid #C95B00; }
  .polygon.bottomMembers {
    bottom: 0;
    border-left: 50vw solid #C95B00;
    border-right: 50vw solid #C95B00;
    border-top: 50px solid transparent;
    border-bottom: 50px solid #C95B00; }

.about-us {
  position: relative;
  padding-top: 15vh; }

.teamMember {
  position: relative;
  margin: 15vw 0;
  height: 100vw; }

.imgMembers {
  float: left;
  width: 50%; }

#team h2 {
  padding-top: 0.83em;
  margin: 0;
  text-align: center;
  color: #F1F3E0;
  font-size: 2.7em; }

#team h3 {
  font-size: 1.5em;
  text-align: center;
  color: #F1F3E0; }

.small-team {
  width: 90vw;
  margin: auto; }

.polygon-3 {
  position: absolute;
  bottom: 0;
  z-index: 3;
  width: 0;
  height: 0;
  margin: 0px;
  border-left: 50vw solid #000;
  border-right: 50vw solid #000;
  border-top: 50px solid #C95B00;
  border-bottom: 50px solid #000; }

.us {
  width: 90vw;
  margin: auto;
  float: none;
  padding: 15% 0 5% 0;
  color: #111111; }

.work {
  width: 100%;
  min-height: 100vh;
  background: #111111;
  padding: 10px 0 10px 0; }

.our-projects {
  margin-top: 0;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 3em;
  font-weight: black;
  color: #C95B00; }

.p-item {
  font-family: "Lato", sans-serif;
  width: 90%;
  height: 30vw;
  overflow: hidden;
  margin: 5%; }

.p-img-container {
  position: relative;
  float: left;
  width: 30%;
  height: 100%;
  text-align: center; }

.p-img {
  z-index: -1;
  height: 70%;
  padding: 15% 0;
  margin: auto;
  float: none;
  width: auto; }

.p-title {
  font-size: 1.3em;
  position: relative;
  float: left;
  width: 60%;
  color: #F1F3E0;
  text-align: left;
  margin: 10px 0 10px 5%; }

.p-summary {
  position: relative;
  float: left;
  margin-top: 5px;
  width: 50%;
  margin: 10px 5px 10px 5%;
  color: #C95B00;
  font-size: 1em; }

#services {
  min-height: 40vh;
  padding: 5% 0 0 0;
  text-align: center; }

.serviceTitle {
  margin: 15% auto 10% auto; }

.services li {
  width: 45%; }

.s-item {
  font-family: "Lato", sans-serif;
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 5%; }

.s-img-container {
  position: relative;
  float: left;
  width: 100%;
  text-align: center; }

.s-img {
  z-index: -1;
  width: 60%;
  padding: 15% 0;
  margin: auto;
  float: none; }

.s-title {
  width: 100%;
  margin: 0;
  font-size: 0.6em;
  text-align: center;
  text-transform: uppercase;
  float: none; }

hr {
  width: 55%;
  margin: 0 10% 0 5%;
  border: none;
  float: left;
  border-top: 1px solid #F1F3E0; }

#contact {
  min-height: 100vh;
  background-color: #F1F3E0;
  text-align: center; }

#contact h2 {
  color: #C95B00;
  font-weight: bold; }

.panel-default {
  padding: 2% 0 2% 0; }

.contact-form {
  color: #C95B00; }

.form-control {
  position: relative;
  width: 80vw;
  background: #FDAD1B;
  color: #F1F3E0;
  float: none;
  padding: 10px;
  margin: 5px 0;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.05em; }

.form-control::placeholder {
  color: #C95B00;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 1.2em; }

.form-group {
  text-align: center; }

.panel-footer {
  text-align: center; }

textarea {
  min-height: 72px; }

.send {
  margin-top: 3%;
  padding: 10px;
  width: 50vw;
  background-color: #C95B00;
  color: #F1F3E0; }

.socialmedia {
  background-size: auto 100%;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0; }

.socialBtns {
  padding: 15% 0 10% 0; }

.twitter {
  background-image: url("/img/twitter.svg");
  width: 50px;
  height: 50px; }

.github {
  background-image: url("/img/github.svg");
  width: 50px;
  height: 50px; }

.linkedin {
  background-image: url("/img/linkedin.svg");
  width: 50px;
  height: 50px; }

.facebook {
  background-image: url("/img/facebook.svg");
  width: 50px;
  height: 50px; }

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; }

.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none; }

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125); }

.btn.disabled,
.btn[disabled] {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65; }

a.btn.disabled {
  pointer-events: none; }

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c; }

.btn-success:focus,
.btn-success.focus {
  color: #fff;
  background-color: #449d44;
  border-color: #255625; }

.btn-success:hover {
  color: #fff;
  background-color: #449d44;
  border-color: #398439; }

.btn-success:active,
.btn-success.active {
  color: #fff;
  background-color: #449d44;
  border-color: #398439; }

.btn-success:active:hover,
.btn-success.active:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.btn-success:active.focus,
.btn-success.active.focus {
  color: #fff;
  background-color: #398439;
  border-color: #255625; }

.btn-success:active,
.btn-success.active {
  background-image: none; }

.btn-success.disabled:hover,
.btn-success[disabled]:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus {
  background-color: #5cb85c;
  border-color: #4cae4c; }

.btn-success .badge {
  color: #5cb85c;
  background-color: #fff; }

/*# sourceMappingURL=App.css.map */
